checkpoints/
checkpoints_v2/
runs/
runs_v2/
*.pth
*.onnx
__pycache__/
.venv/
python/benchmark_results
torch_cache/
runs_reds_3
esgranUpscale/frames_in
esgranUpscale/frames_out
data/
runs_3_deg/
checkpoints_3x_deg/